@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.nav {
    margin: 0;
    display: flex;
    font-family: Roboto;
    background-color: blue;
    color: white;
    justify-content: center;
    gap: 20px;
}

.navLink {
    text-decoration: none;
    color: white;
}

.footer {
    position: fixed;
    background-color: blue;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: white
}