@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.nav {
    margin: 0;
    display: flex;
    font-family: "Roboto";
    background-color: #f7cf8b;
    color: white;
    justify-content: center;
    gap: 20px;
    border-radius: 0px 0px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover {
    color: #915d03;
}

.home-header {
    font-family: "Roboto";
    text-align: center;
    font-size: 45px;
}

.home-text {
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
}


.about-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.about-header {
    text-align: center;
    font-family: "Roboto";
    font-size: 45px;
}

.about-img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
}

.about-bio {
    flex: 1;
    display: flex;
    font-family: "Roboto";
    font-size: 32px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 75%;
}

.project-title {
    font-family: "Roboto";
    font-size: 40px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.project-url {

}

.project-text {

}

.project-img {
    max-width: 40%;
    border: 2px solid blue;
    border-radius: 20px;
    transition: ease-in 0.2s;
    margin-bottom: 30px;
}

.project-img:hover {
    scale: 1.1;
}

.contact-header {
    font-family: "Roboto";
    font-size: 40px;
    text-align: center;
}

.contact-text {
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
}

.contact-methods {
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    transition: ease-in 0.2s;
}

.contact-methods a {
    text-decoration: none;
    color: black;
}

.contact-methods:hover {
    scale: 1.1;
}



.footer {
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    position: fixed;
    background-color: #f7cf8b;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    color: white;
    font-family: "Roboto";
}